<li
    class="directory-item entry document {{@root.documentCls}} flexrow"
    data-entry-id="{{effect.id}}"
    data-ce-effect-id="{{getCeEffectId effect}}"
    draggable="true"
>
    {{#if effect.img}}
        <img
            class="thumbnail"
            src="{{effect.img}}"
            alt="{{effect.name}}"
            loading="lazy"
        />
    {{/if}}
    <a
        class="entry-name ellipsis"
        data-action="activateEntry"
    >{{effect.name}}</a>

    {{{convenientEffectIcons effect}}}
</li>