<form autocomplete="off">

    <!-- Effect Header -->
    <header class="sheet-header">
        <img class="effect-img" src="{{effect.img}}" data-edit="img" />
        <h1 class="effect-title">
            <input
                name="name"
                type="text"
                value="{{effect.name}}"
                placeholder="{{localize 'Name'}}"
                disabled
            />
        </h1>
    </header>

    <section>
        <div class="form-group">
            <label>{{localize "ConvenientEffects.ConfigFoundryEffectIdLabel"}}</label>
            <div class="form-fields">
                <input
                    name="foundryEffectId"
                    type="text"
                    value="{{effect.id}}"
                    disabled
                />
            </div>
            <p class="hint">{{localize "ConvenientEffects.ConfigFoundryEffectIdHint"}}</p>
        </div>

        <div class="form-group">
            <label>{{localize "ConvenientEffects.ConfigConvenientEffectIdLabel"}}</label>
            <div class="form-fields">
                <input
                    type="text"
                    name="ceEffectId"
                    value="{{getCeEffectId effect}}"
                    disabled
                />
            </div>
            <p class="hint">{{localize "ConvenientEffects.ConfigConvenientEffectIdHint"}}</p>
        </div>

        <div class="form-group">
            <label>{{localize "ConvenientEffects.ConfigDynamicLabel"}}</label>
            <div class="form-fields">
                <input
                    type="checkbox"
                    name="dynamic"
                    {{checked (isDynamic effect)}}
                    disabled
                />
            </div>
            <p class="hint">{{localize "ConvenientEffects.ConfigDynamicHint"}}</p>
        </div>

        <div class="form-group">
            <label>{{localize "ConvenientEffects.ConfigNestedEffectsLabel"}}</label>
            <div class="form-fields">
                <multi-select name="nestedEffects">
                    {{#each nestedEffects as |nestedEffect|}}
                        <option
                            value="{{nestedEffect.id}}"
                            {{nestedEffect.selected}}
                        >{{nestedEffect.label}}</option>
                    {{/each}}
                </multi-select>
            </div>
            <p class="hint">{{localize "ConvenientEffects.ConfigNestedEffectsHint"}}</p>
        </div>

        <div class="form-group">
            <label>{{localize "ConvenientEffects.ConfigSubEffectsLabel"}}</label>
            <div class="form-fields">
                <multi-select name="subEffects">
                    {{#each subEffects as |subEffect|}}
                        <option
                            value="{{subEffect.id}}"
                            {{subEffect.selected}}
                        >{{subEffect.label}}</option>
                    {{/each}}
                </multi-select>
            </div>
            <p class="hint">{{localize "ConvenientEffects.ConfigSubEffectsHint"}}</p>
        </div>

        <div class="form-group">
            <label>{{localize "ConvenientEffects.ConfigOtherEffectsLabel"}}</label>
            <div class="form-fields">
                <multi-select name="otherEffects">
                    {{#each otherEffects as |otherEffect|}}
                        <option
                            value="{{otherEffect.id}}"
                            {{otherEffect.selected}}
                        >{{otherEffect.label}}</option>
                    {{/each}}
                </multi-select>
            </div>
            <p class="hint">{{localize "ConvenientEffects.ConfigOtherEffectsHint"}}</p>
        </div>
    </section>

    <footer class="sheet-footer">
        <button type="submit"><i class="fas fa-save"></i>
            {{localize "EFFECT.Submit"}}</button>
    </footer>
</form>
