<section
    class="tab sidebar-tab actors-sidebar directory flexcol active"
    id="convenient-effects"
>

    <!-- Directory Header -->
    <header class="directory-header">
        {{#if (canCreateFolders)}}
            <div class="header-actions action-buttons flexrow">
                <button class="create-folder"><i class="fas fa-folder"></i>
                    {{localize "ConvenientEffects.CreateFolder"}}</button>
            </div>
        {{/if}}
        <div class="header-search flexrow">
            <a
                class="header-control show-hidden-effects"
                aria-label="Show Hidden Effects"
                role="button"
                data-tooltip="ConvenientEffects.ShowHiddenEffects"
            ><i class="fa-duotone fa-eye"></i></a>
            <a
                class="header-control show-nested-effects"
                aria-label="Show Nested Effects"
                role="button"
                data-tooltip="ConvenientEffects.ShowNestedEffects"
            ><i class="fa-duotone fa-tree"></i></a>
            <input
                type="search"
                name="search"
                value=""
                aria-label="Search Effects"
                placeholder="Search Effects"
                autocomplete="off"
                autofocus
            />
            <a
                class="header-control collapse-all"
                aria-label="Collapse All Folders"
                role="button"
                data-tooltip="FOLDER.Collapse"
            ><i class="fa-duotone fa-folder-tree"></i></a>
            <a
                class="header-control prioritize-targets"
                aria-label="Prioritize Targets"
                role="button"
                data-tooltip="ConvenientEffects.PrioritizeTargets"
            ><i class="fa-duotone fa-bullseye"></i></a>
        </div>
    </header>

    <!-- Directories List -->
    <ol class="directory-list">
        {{#each folderData as |data|}}
            <li
                class="directory-item folder flexcol collapsed convenient-folder"
                data-folder-id="{{data.folder.id}}"
                data-uuid="{{data.folder.uuid}}"
                data-folder-depth="1"
                draggable="false"
            >
                <header
                    class="folder-header flexrow"
                    style="background-color: {{getFolderColor
                        data.folder
                    }};"
                >
                    <h3 class="noborder"><i
                            class="fas fa-folder-open fa-fw"
                        ></i>{{data.folder.name}}</h3>

                    <a class="create-button create-entry">
                        <i class="fas fa-hand-sparkles"></i>
                        <i class="fas fa-plus"></i>
                    </a>
                </header>

                <ol class="subdirectory">
                    {{#each data.effects as |effect|}}
                        <li
                            class="directory-item document flexrow convenient-effect"
                            data-entry-id="{{effect.id}}"
                            data-document-id="{{effect.id}}"
                            data-document-name="{{effect.name}}"
                            data-ce-effect-id="{{getCeEffectId effect}}"
                            draggable="true"
                            style="display: flex;"
                        >
                            <img
                                class="thumbnail"
                                title="{{effect.name}}"
                                src="{{effect.img}}"
                            />
                            <h4 class="entry-name document-name"><a
                                    title="{{stripHtml effect.description}}"
                                >{{effect.name}}</a></h4>

                            {{{convenientIcons effect}}}
                        </li>
                    {{/each}}
                </ol>
            </li>
        {{/each}}
    </ol>

    <!-- Directory Footer -->
    <footer class="directory-footer action-buttons"></footer>
</section>
