<div>

    <!-- Effect Header -->
    <header class="sheet-header">
        <img class="effect-img" src="{{effect.img}}" data-edit="img" />
        <h1 class="effect-title">
            <input
                name="name"
                type="text"
                value="{{effect.name}}"
                placeholder="{{localize 'Name'}}"
                disabled
            />
        </h1>
    </header>

    <section>
        <div class="form-group">
            <label>{{localize "ConvenientEffects.ConfigFoundryEffectIdLabel"}}</label>
            <div class="form-fields">
                <input
                    name="foundryEffectId"
                    type="text"
                    value="{{effect.id}}"
                    disabled
                />
            </div>
            <p class="hint">{{localize "ConvenientEffects.ConfigFoundryEffectIdHint"}}</p>
        </div>

        <div class="form-group">
            <label>{{localize "ConvenientEffects.ConfigConvenientEffectIdLabel"}}</label>
            <div class="form-fields">
                <input
                    type="text"
                    name="ceEffectId"
                    value="{{getCeEffectId effect}}"
                    disabled
                />
            </div>
            <p class="hint">{{localize "ConvenientEffects.ConfigConvenientEffectIdHint"}}</p>
        </div>

        <div class="form-group">
            <label>{{localize "ConvenientEffects.ConfigTemporaryLabel"}}</label>
            <div class="form-fields">
                <input
                    type="checkbox"
                    name="temporary"
                    {{checked (isTemporary effect)}}
                />
            </div>
            <p class="hint">{{localize "ConvenientEffects.ConfigTemporaryHint"}}</p>
        </div>

        <div class="form-group">
            <label>{{localize "ConvenientEffects.ConfigViewableLabel"}}</label>
            <div class="form-fields">
                <input
                    type="checkbox"
                    name="viewable"
                    {{checked (isViewable effect)}}
                />
            </div>
            <p class="hint">{{localize "ConvenientEffects.ConfigViewableHint"}}</p>
        </div>

        <div class="form-group">
            <label>{{localize "ConvenientEffects.ConfigDynamicLabel"}}</label>
            <div class="form-fields">
                <input
                    type="checkbox"
                    name="dynamic"
                    {{checked (isDynamic effect)}}
                    disabled
                />
            </div>
            <p class="hint">{{localize "ConvenientEffects.ConfigDynamicHint"}}</p>
        </div>

        <div class="form-group">
            <label>{{localize "ConvenientEffects.ConfigNestedEffectsLabel"}}</label>
            <div class="form-fields">
                <multi-select name="nestedEffectIds">
                    {{#each nestedEffectsData as |nestedEffectData|}}
                        <option
                            value="{{nestedEffectData.id}}"
                            {{nestedEffectData.selected}}
                        >{{nestedEffectData.label}}</option>
                    {{/each}}
                </multi-select>
            </div>
            <p class="hint">{{localize "ConvenientEffects.ConfigNestedEffectsHint"}}</p>
        </div>

        <div class="form-group">
            <label>{{localize "ConvenientEffects.ConfigSubEffectsLabel"}}</label>
            <div class="form-fields">
                <multi-select name="subEffectIds">
                    {{#each subEffectsData as |subEffectData|}}
                        <option
                            value="{{subEffectData.id}}"
                            {{subEffectData.selected}}
                        >{{subEffectData.label}}</option>
                    {{/each}}
                </multi-select>
            </div>
            <p class="hint">{{localize "ConvenientEffects.ConfigSubEffectsHint"}}</p>
        </div>

        <div class="form-group">
            <label>{{localize "ConvenientEffects.ConfigOtherEffectsLabel"}}</label>
            <div class="form-fields">
                <multi-select name="otherEffectIds">
                    {{#each otherEffectsData as |otherEffectData|}}
                        <option
                            value="{{otherEffectData.id}}"
                            {{otherEffectData.selected}}
                        >{{otherEffectData.label}}</option>
                    {{/each}}
                </multi-select>
            </div>
            <p class="hint">{{localize "ConvenientEffects.ConfigOtherEffectsHint"}}</p>
        </div>
    </section>
</div>
