<div id="nested-effects-config">
    <label class="title" style="font-weight: bold;">Nested Effects</label>

    {{#each chosenEffects as |chosenEffect|}}
        <div class="form-group chosen-effect">
            <label>{{localize "ConvenientEffects.NestedEffect"}} {{inc @index}}</label>
            <div class="form-fields">
                <button
                    type="button"
                    class="remove-nested-effect"
                    data-action="nested-effect-remove"
                    data-ce-effect-id="{{getCeEffectId chosenEffect}}"
                    title="{{localize 'ConvenientEffects.RemoveNestedEffect'}}"
                >
                    <i class="fas fa-trash fa-fw"></i>
                </button>
                <input type="text" value="{{chosenEffect.name}}" disabled />
            </div>
        </div>
    {{/each}}

    <div class="form-group">
        <label>Add new nested effect</label>
        <div class="form-fields add-nested-effect">
            <button
                type="button"
                class="add-nested-effect"
                data-action="nested-effect-add"
                    title="{{localize 'ConvenientEffects.AddNestedEffect'}}"
            >
                <i class="fas fa-plus fa-fw"></i>
            </button>
            <select class="nested-effects-selector">
                {{#each availableEffects as |availableEffect|}}
                    <option
                        value="{{availableEffect.id}}"
                    >{{availableEffect.name}}</option>
                {{/each}}
            </select>
        </div>
    </div>

</div>
