<section class="tab{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <div class="form-group">
        <label>{{localize "ConvenientEffects.Config.NestedEffectsLabel"}}</label>
        <div class="form-fields">
            <multi-select name="nestedEffectIds">
                {{#each nestedEffectsData as |nestedEffectData|}}
                    <option
                        value="{{nestedEffectData.id}}"
                        {{nestedEffectData.selected}}
                    >{{nestedEffectData.label}}</option>
                {{/each}}
            </multi-select>
        </div>
        <p class="hint">{{localize "ConvenientEffects.Config.NestedEffectsHint"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "ConvenientEffects.Config.SubEffectsLabel"}}</label>
        <div class="form-fields">
            <multi-select name="subEffectIds">
                {{#each subEffectsData as |subEffectData|}}
                    <option
                        value="{{subEffectData.id}}"
                        {{subEffectData.selected}}
                    >{{subEffectData.label}}</option>
                {{/each}}
            </multi-select>
        </div>
        <p class="hint">{{localize "ConvenientEffects.Config.SubEffectsHint"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "ConvenientEffects.Config.OtherEffectsLabel"}}</label>
        <div class="form-fields">
            <multi-select name="otherEffectIds">
                {{#each otherEffectsData as |otherEffectData|}}
                    <option
                        value="{{otherEffectData.id}}"
                        {{otherEffectData.selected}}
                    >{{otherEffectData.label}}</option>
                {{/each}}
            </multi-select>
        </div>
        <p class="hint">{{localize "ConvenientEffects.Config.OtherEffectsHint"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "ConvenientEffects.Config.IncrementEffectsLabel"}}</label>
        <div class="form-fields">
            <multi-select name="incrementEffectIds">
                {{#each incrementEffectsData as |incrementEffectData|}}
                    <option
                        value="{{incrementEffectData.id}}"
                        {{incrementEffectData.selected}}
                    >{{incrementEffectData.label}}</option>
                {{/each}}
            </multi-select>
        </div>
        <p class="hint">{{localize "ConvenientEffects.Config.IncrementEffectsHint"}}</p>
        {{#if incrementOrder.length}}
            <ol class="increment-order-list">
                {{#each incrementOrder as |orderedEffect|}}
                    <li class="increment-order-item" data-id="{{orderedEffect.id}}">
                        <span class="increment-order-label">{{orderedEffect.label}}</span>
                        <div class="increment-order-controls">
                            <button
                                type="button"
                                class="icon"
                                data-action="incrementMoveUp"
                                data-id="{{orderedEffect.id}}"
                                data-tooltip
                                aria-label="{{localize "ConvenientEffects.Config.IncrementMoveUp"}}"
                            >
                                <i class="fa-solid fa-arrow-up"></i>
                            </button>
                            <button
                                type="button"
                                class="icon"
                                data-action="incrementMoveDown"
                                data-id="{{orderedEffect.id}}"
                                data-tooltip
                                aria-label="{{localize "ConvenientEffects.Config.IncrementMoveDown"}}"
                            >
                                <i class="fa-solid fa-arrow-down"></i>
                            </button>
                        </div>
                    </li>
                {{/each}}
            </ol>
        {{/if}}
    </div>
</section>
