<section class="tab{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <div class="form-group">
        <label>{{localize "ConvenientEffects.ConfigTemporaryLabel"}}</label>
        <div class="form-fields">
            <input
                type="checkbox"
                name="temporary"
                {{checked (isTemporary effect)}}
            />
        </div>
        <p class="hint">{{localize "ConvenientEffects.ConfigTemporaryHint"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "ConvenientEffects.ConfigViewableLabel"}}</label>
        <div class="form-fields">
            <input
                type="checkbox"
                name="viewable"
                {{checked (isViewable effect)}}
            />
        </div>
        <p class="hint">{{localize "ConvenientEffects.ConfigViewableHint"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "ConvenientEffects.ConfigDynamicLabel"}}</label>
        <div class="form-fields">
            <input
                type="checkbox"
                name="dynamic"
                {{checked (isDynamic effect)}}
                disabled
            />
        </div>
        <p class="hint">{{localize "ConvenientEffects.ConfigDynamicHint"}}</p>
    </div>
</section>
