<section class="tab{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <div class="form-group">
        <label>{{localize "ConvenientEffects.Config.TemporaryLabel"}}</label>
        <div class="form-fields">
            <input
                type="checkbox"
                name="temporary"
                {{checked (isTemporary effect)}}
            />
        </div>
        <p class="hint">{{localize "ConvenientEffects.Config.TemporaryHint"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "ConvenientEffects.Config.ViewableLabel"}}</label>
        <div class="form-fields">
            <input
                type="checkbox"
                name="viewable"
                {{checked (isViewable effect)}}
            />
        </div>
        <p class="hint">{{localize "ConvenientEffects.Config.ViewableHint"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "ConvenientEffects.Config.DynamicLabel"}}</label>
        <div class="form-fields">
            <input
                type="checkbox"
                name="dynamic"
                {{checked (isDynamic effect)}}
                disabled
            />
        </div>
        <p class="hint">{{localize "ConvenientEffects.Config.DynamicHint"}}</p>
    </div>
</section>
